allow ueventd vendor_firmware_file:dir search;
allow ueventd vendor_firmware_file:file r_file_perms;
allow ueventd vendor_firmware_file:lnk_file read;
allow ueventd firmware_file:lnk_file read;
allow ueventd sysfs_socinfo:file w_file_perms;
allow ueventd sysfs_thermal:file w_file_perms;

allow ueventd persist_file:dir search;
allow ueventd persist_wifi_file:file r_file_perms;

allow ueventd sysfs_devices_fingerprint:file w_file_perms;
allow ueventd sysfs_nanoapp_cmd:file w_file_perms;
allow ueventd mnt_vendor_file:dir search;
allow ueventd mnt_vendor_file:file r_file_perms;
