allow vendor_init time_data_file:dir { search setattr };
allow vendor_init time_data_file:file setattr;
allow vendor_init radio_data_file:dir { search setattr };
allow vendor_init radio_data_file:file { open write setattr };
allow vendor_init cnd_data_file:dir { search setattr };
allow vendor_init camera_data_file:dir { search setattr };
allow vendor_init camera_data_file:file setattr;
allow vendor_init location_data_file:dir { search setattr };
allow vendor_init location_data_file:file setattr;
allow vendor_init audio_data_file:dir { search setattr };
allow vendor_init audio_data_file:file setattr;
allow vendor_init perfd_data_file:dir { remove_name search setattr write };
allow vendor_init perfd_data_file:file setattr;
allow vendor_init ramdump_data_file:dir { search setattr };
allow vendor_init ramdump_data_file:file setattr;
allow vendor_init fingerprintd_data_file:dir { search setattr };
allow vendor_init fingerprintd_data_file:file setattr;
allow vendor_init diag_device:chr_file rw_file_perms;
