allow vendor_init time_data_file:dir { create search setattr };
allow vendor_init time_data_file:file setattr;
allow vendor_init radio_data_file:dir { create search setattr };
allow vendor_init radio_data_file:file { open write setattr };
allow vendor_init cnd_data_file:dir { create search setattr };
allow vendor_init camera_data_file:dir { write create search setattr };
allow vendor_init camera_data_file:file setattr;
allow vendor_init location_data_file:dir { add_name remove_name read write create search setattr };
allow vendor_init location_data_file:file setattr;
allow vendor_init audio_data_file:dir { create search setattr };
allow vendor_init audio_data_file:file setattr;
allow vendor_init perfd_data_file:dir { create remove_name search setattr write };
allow vendor_init perfd_data_file:file { unlink setattr };
allow vendor_init ramdump_data_file:dir { create search setattr };
allow vendor_init ramdump_data_file:file setattr;
allow vendor_init fingerprintd_data_file:dir { create search setattr };
allow vendor_init fingerprintd_data_file:file setattr;
allow vendor_init diag_device:chr_file rw_file_perms;
allow vendor_init diag_device:chr_file unlink;
allow vendor_init system_data_file:dir { add_name remove_name search setattr read write };
